* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #343e48;
}

a {
  color: #00a7e0;
  cursor: pointer;
  text-decoration: none;
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 997;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  background-color: #fff;
  border-bottom: 1px solid #bec2c5;
}

nav .nav-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

nav .nav-logo,
nav .nav-link li.nav-mobile-logo {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .nav-logo img,
nav .nav-link li.nav-mobile-logo img {
  max-width: 12rem;
  margin-left: 1.5rem;
}

nav .nav-link {
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 999;
  text-transform: uppercase;
  background-color: #fff;
  list-style-type: none;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
}

nav .nav-link.active {
  left: 0;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

nav .nav-link li.nav-mobile-logo {
  height: 100px;
  border-bottom: 1px solid #bec2c5;
}

nav .nav-link li a {
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 3rem;
  display: block;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
}

nav .nav-link li:hover {
  background-color: #00a7e0;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
}

nav .nav-link li:hover a {
  color: #fff;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
}

nav .nav-link li:first-child:hover {
  background-color: initial;
}

nav .nav-link li.active a {
  color: #fff;
  background-color: #00a7e0;
}

nav .nav-link li.active a:hover {
  background-color: #0094c7;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
}

nav .nav-link-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
  display: none;
}

nav .nav-link-overlay.show {
  opacity: 0.5;
  display: block;
}

nav .nav-menu {
  position: absolute;
  right: 4.5rem;
}

nav .nav-menu .menu-trigger {
  width: 3rem;
  height: 2rem;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-menu .menu-trigger .menu-bar {
  width: 90%;
  height: 5px;
  border-radius: 2px;
  background-color: #00a7e0;
}

main {
  margin-top: calc(100px + 2rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ()[1fr];
      grid-template-rows: repeat(1fr);
}

main .side-content {
  margin: 0 1.5rem;
  -ms-grid-row: 2;
  grid-row: 2;
}

main .side-content .content-group {
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

main .side-content .content-group .group-header {
  margin: 0 -2.5rem;
  padding: 1rem 2.5rem;
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #e4e2e2;
  border-radius: 1rem;
}

main .side-content .content-group .group-header::before {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 2.5rem;
  bottom: -5px;
  content: '';
  background-color: #e4e2e2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .side-content .content-group .group-links {
  padding: 0.5rem 1rem;
}

main .side-content .content-group .group-links ::marker {
  color: #00a7e0;
}

main .side-content .content-group .group-links a {
  color: #343e48;
}

main .main-content {
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid #e3e1e1;
  border-top: none;
  -webkit-box-shadow: inset 0 -7px 0 #f4f4f4;
          box-shadow: inset 0 -7px 0 #f4f4f4;
}

main .main-content .content-group {
  padding: 0 2.5rem;
}

main .main-content .content-group .group-header {
  margin-bottom: 2rem;
}

main .main-content .content-group .group-header h1 {
  color: #00a7e0;
  font-size: 1.875rem;
  font-weight: 700;
}

main .main-content .content-group .group-header h2 {
  padding-left: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: italic;
}

main .main-content .content-group .group-details p {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

main .main-content .image-group {
  margin: 4rem 0 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2.5rem;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

main .main-content .image-group .group-image {
  position: relative;
  border: 2px solid #00a7e0;
}

main .main-content .image-group .group-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 20%;
     object-position: center 20%;
}

main .main-content .image-group .group-image .image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  color: #fff;
  background-color: #044a62;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
  text-align: center;
}

main .main-content .image-group .group-image .image-overlay h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

main .main-content .image-group .group-image .image-overlay p {
  font-size: 0.875rem;
}

main .main-content .image-group .group-image:hover .image-overlay {
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {
  main .side-content {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  main .side-content .content-group {
    grid-column: span 6;
  }
  main .main-content .image-group {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 12rem;
  }
  main .main-content .image-group .group-image {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 768px) {
  main .main-content .image-group {
    grid-auto-rows: 16rem;
  }
}

@media only screen and (min-width: 992px) {
  nav .nav-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  nav .nav-link {
    width: initial;
    height: 100%;
    position: initial;
    top: initial;
    left: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / span 9;
  }
  nav .nav-link li {
    width: 100%;
    max-width: 8rem;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav-link li.nav-mobile-logo {
    display: none;
  }
  nav .nav-link li a {
    padding: initial;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: initial;
    display: block;
    color: #343e48;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
  }
  nav .nav-link li:hover {
    background-color: #fff;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
  }
  nav .nav-link li:hover a {
    color: #00a7e0;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
  }
  nav .nav-link li.active {
    color: #fff;
    background-color: #00a7e0;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
  nav .nav-link li.active a {
    color: #fff;
    background-color: #00a7e0;
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
  }
  nav .nav-link li.active:hover {
    background-color: #0094c7;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
  }
  nav .nav-link li.active:hover a {
    background-color: initial;
  }
  nav .nav-menu {
    display: none;
  }
  main {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  main .side-content {
    display: initial;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  main .main-content {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / span 9;
  }
}

@media only screen and (min-width: 1200px) {
  nav .nav-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
  nav .nav-link {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / span 8;
  }
  main .main-content .image-group {
    grid-auto-rows: 12rem;
  }
  main .main-content .image-group .group-image {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 1600px) {
  nav .nav-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
  }
  nav .nav-link {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
  }
  main .main-content .image-group {
    grid-auto-rows: 18rem;
  }
}

@media only screen and (min-width: 1900px) {
  main .main-content .image-group {
    grid-auto-rows: 24rem;
  }
}
/*# sourceMappingURL=main.css.map */